:root {
  --red: #C5004A;
  --darkred: #7F0036;
  --lightgray: #e0e0e0;
  --gray: #C0C0C0;
  --darkgray: #333;
  --navy: #17050F;
  --blue: #082840;
  --white: #fff;
  --sand: #f6f5f2;
}
* {
  box-sizing: border-box;
}
html,
body {
  direction: rtl;
  padding: 0;
  margin: 0;
  font-family: Varela Round, system-ui, sans-serif;
  color: var(--darkgray);
  background-color: var(--sand);
}
p:last-child {
  margin-bottom: 0;
}
p,
.tmpl-post li,
img {
  max-width: 37.5em; /* 600px /16 */
}
p,
.tmpl-post li {
  line-height: 1.45;
}
a[href] {
  color: var(--blue);
}
a[href]:visited {
  color: var(--navy);
}
main {
  padding: 1rem;
}
main :first-child {
  margin-top: 0;
}
header {
  border-bottom: 1px dashed var(--lightgray);
}
header:after {
  content: "";
  display: table;
  clear: both;
}
table {
  margin: 1em 0;
}
table td,
table th {
  padding-right: 1em;
}

pre,
code {
  font-family: Courier, monospace;
  line-height: 1.5;
}

/* Header */
.home {
  float: left;
  margin: 1rem 0; /* 16px /16 */
}

.home :link:not(:hover) {
  text-decoration: none;
}

/* Nav */
nav {
  padding: 0;
  list-style: none;
  float: righ;
  background: red;
  margin: 1rem 0; /* 16px /16 */
}
.nav-item {
  display: inline-block;
  margin-left: 1em;
}
.nav-item a[href]:not(:hover) {
  text-decoration: none;
}
.nav-item-active {
  font-weight: 700;
  text-decoration: none;
}

/* Posts list */
.postlist {
  list-style: none;
  padding: 0;
}
.postlist-item {

}

.postlist-date {
  font-size: 0.8125em; /* 13px /16 */
  color: var(--darkgray);
}

.postlist-link {
  display: inline-block;
  padding: 0.25em 0.1875em; /* 4px 3px /16 */
}
.postlist-item-active .postlist-link {
  font-weight: bold;
}
.tmpl-home .postlist-link {
  font-size: 1.1875em; /* 19px /16 */
  font-weight: 700;
}

/* Post */
article {
	text-align: justify;
}

section {

}

/* Typography */
/* varela-round-regular - latin_hebrew */
@font-face {
  font-family: 'Varela Round';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Varela Round Regular'), local('VarelaRound-Regular'),
       url('/fonts/varela-round-v12-latin_hebrew-regular.woff2') format('woff2'); /* Chrome 26+, Opera 23+, Firefox 39+ */
}

blockquote, .wp-block-quote {
	color: #6a6969;
	position: relative;
	padding: 0.1px 30px 0 0;
	margin: 0 3em 1em 3em;
}

blockquote:before {
	display: block;
	content: "\201D";
	font-size: 25px;
	position: absolute;
	right: 0;
	top: 0;
	color: #6a6969;
}

/* Elements */

section:nth-child(2) {
  background: purple;
  color: white;
  clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
  padding: 10rem 20%;
}

figure {
  border: 1px solid blue;
  margin: 1em 0;
}

figcaption {
  color: var(--gray);
  float: left;
}

hr {
	border-style: solid;
	border-width: 0.1rem 0 0 0;
	border-color: #dcd7ca;
	margin: 2rem 0;
}

.tmpl-post hr,
hr.styled-separator {
	background: linear-gradient(to left, currentColor calc(50% - 16px), transparent calc(50% - 16px), transparent calc(50% + 16px), currentColor calc(50% + 16px));
	background-color: transparent !important;
	border: none;
	height: 0.1rem;
	position: relative;
}

.tmpl-post hr:not(.has-background),
hr.styled-separator {
  color: var(--gray);
}

.tmpl-post hr::before,
.tmpl-post hr::after,
hr.styled-separator::before,
hr.styled-separator::after {
	background: currentColor;
	content: "";
	height: 1.6rem;
	position: absolute;
	top: calc(50% - 0.8rem);
	transform: rotate(22.5deg);
	width: 0.1rem;
}

.tmpl-post hr::before,
hr.styled-separator::before {
	left: calc(50% - 0.5rem);
}

.tmpl-post hr::after,
hr.styled-separator::after {
	right: calc(50% - 0.5rem);
}

/* Tags */
.tag {
  display: inline-block;
  vertical-align: text-top;
  font-size: 0.625em; /* 10px /16 */
  padding: 2px 4px;
  margin-right: 0.8em; /* 8px /10 */
  background-color: var(--red);
  color: var(--white);
  border-radius: 0.25em; /* 3px /12 */
  text-decoration: none;
}
a[href].tag,
a[href].tag:visited {
  color: #fff;
}

/* Direct Links / Markdown Headers */
.direct-link {
  font-family: sans-serif;
  text-decoration: none;
  font-style: normal;
  margin-left: .1em;
}
a[href].direct-link,
a[href].direct-link:visited {
  color: transparent;
}
a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover > a[href].direct-link,
:hover > a[href].direct-link:visited {
  color: #aaa;
  }